<h2>Liste des Classes</h2>
<button routerLink="/classes/ajouter">Ajouter une Classe</button>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Niveau</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let classe of classes">
      <td>{{ classe.id }}</td>
      <td>{{ classe.nom }}</td>
      <td>{{ classe.niveau }}</td>
      <td>
        <button (click)="modifier(classe.id)">Modifier</button>
        <button (click)="supprimerClasse(classe.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
